$include /etc/inputrc

set echo-control-characters off
set enable-keypad on
set editing-mode vi
set show-mode-in-prompt on

$if mode=vi
  set keymap vi-command
  "\e[A": history-search-backward
  "\e[B": history-search-forward
  set keymap vi-insert
  "\e[A": history-search-backward
  "\e[B": history-search-forward
$endif
